.taskInputMainHeader {
  font-size: 2rem;
  font-family: "Shadows Into Light", cursive;
  font-weight: normal;
}
.taskInputPlusButton {
  padding: 5px 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.179);
  cursor: pointer;
  color: #555;
  font-size: 40px;
  position: absolute;
  top: 2rem;
  right: 1rem;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.57);
}
.taskInputPlusButton:hover {
  background-color: #0099ffac;
}

.taskInputAddButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.taskInputInputContainer {
  margin: 20px;
}

.taskInputMainInput {
  padding: 10px;
  margin-right: 10px;
}

.taskInputParagraph {
  font-family: "Shadows Into Light", cursive;
  margin: 10px 0 5px;
}
