* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  /* background: url("./assets/img/backgroundd.jpg"); */
  background: rgb(206, 240, 241);
  background: linear-gradient(
    111deg,
    rgba(206, 240, 241, 1) 0%,
    rgba(251, 187, 187, 1) 35%,
    rgba(255, 249, 231, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

input {
  width: 200px;
}
ul {
  width: 90%;
}
.crossed {
  text-decoration: line-through;
}
